<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Croggle</title>
		<link rel="stylesheet" href="css/app.css" />
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
