footer{
	$footerPatternHeight: 40px;
	$footerPatternThreshold: 14px;

	.bar{
		width:100%;
		min-height:$footerHeight;
		padding-top:$spaceMedium;
		border-bottom:10px solid $colorGreen;
		background:$colorBrown url('../img/leafpattern.png') repeat-x;
		background-position:center bottom ($footerPatternThreshold * -1);
		background-size:$footerPatternHeight auto;
		padding-bottom:$spaceMedium + $footerPatternHeight - $footerPatternThreshold;
	}

	ul{
		@include resetUl;
		font-size:0.75em;
		line-height:1.8;

		h4{
			color:$colorPink;
		}

		a{
			color:$colorBlack;

			&:hover{
				text-decoration:none;
			}

			.icon,
			span{
				vertical-align:middle;
			}

			.icon{
				font-size:1.4em;
			}
		}
	}
}
