header{
	.bar{
		width:100%;
		height:$headerHeight;
		background-color:$colorBrown;
	}

	.nav-wrapper,
	nav{
		width:100%;
		height:100%;
	}

	nav{
		position:relative;

		.logo{
			position:absolute;
			left:0;
			top:$logoTopMargin;
			z-index: zIndex(headerLogo);
			float:left;
			max-width:$logoMaxSize;
			max-height:$logoMaxSize;

			@include screen-max(sm){
				max-width:$logoMobileMaxSize;
				max-height:$logoMobileMaxSize;
			}
		}
	}

	@import "header/nav";
	@import "header/mobile-nav-logic";
}
