article.card{

    header {
        position: relative;
    }

	.marks {
        $spaceing: $outerCardSpace;
        position: absolute;
        top: $spaceing;
        left: $spaceing;
        right: $spaceing;
        bottom: $spaceing;
        display: flex;
        align-items: flex-end;
    }

    .mark {
        font-size: 1em;
    }

}
