.blog-entry{
	$vLineColor: $colorBrown;
	$vLineSize: 15px;

	border-left:$vLineSize solid $vLineColor;
	padding-left:$vLineSize * 2;
	margin:30px 0;

    .blog-meta span {
        font-size: 0.8em;
        background-color: $colorPink;
        color: $colorWhite;
        padding: 3px 5px;
        border-radius: 5px;

        & + span {
            margin-left: 5px;
        }
    }

	.blog-entry-content{
		margin:30px 0;
	}
}
