$colorBrown: #F0D0A7;
$colorLightBrown: #F3DEBF;
$colorPink: #F84D6F;
$colorGreen: #569970;
$colorLightGreen: #72b08a;
$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorBorder: #ced4da;
$colorPlaceholder: #6c757d;
