.product-filter{
    font-size: 0.8em;

    a {
        @include taxonomyTile;
    }
}

.product-filter.filter-category a{
    font-size: 1.2em;
    margin-bottom: 5px;
}

.product-filter.filter-tags a{
    &:before {
        content: '#';
    }
}

.filter-reset{
    font-size:0.8em;
}
