.product-filter{
    font-size: 0.8em;

    a {
        display: inline-block;
        padding: 5px 10px;
        border: 2px solid $colorPink;
        text-decoration: none;
    }

    a:hover,
    a.active{
        background-color: $colorPink;
        color: $colorWhite;
    }
}

.product-filter.filter-category a{
    font-size: 1.2em;
    margin-bottom: 5px;
}

.product-filter.filter-tags a{

}

.filter-reset{
    font-size:0.8em;
}
