<div class="bar">
	<nav class="container">
		{% set trigger = 'menu-trigger' %}
		<input type="checkbox" id="{{trigger}}" class="menu-trigger" />
		<img class="logo" src="img/logo-small.png" />
		<label for="{{trigger}}">
			<span>
				<i class="fas fa-bars"></i>
			</span>
		</label>
		{% spaceless %}
			<ul class="menu">
				{% set nav = [
					{link: 'products.html', text: 'Products'},
					{link: 'patterns.html', text: 'Patterns', active: true},
					{link: 'about.html', text: 'About'},
					{link: 'blog.html', text: 'Blog'},
				] %}

				{% for item in nav %}
					<li {% if item.active %}data-active="true"{% endif %}>
						<a href="{{item.link}}">
							<span>{{item.text}}</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		{% endspaceless %}
	</nav>
</div>
