<div class="bar">
	<div class="container nav-wrapper">
		<nav>
			{% set trigger = 'menu-trigger' %}
			<input type="checkbox" id="{{trigger}}" class="menu-trigger" />
			<a href="/index.html">
				<img class="logo" src="img/logo-small.png" alt="Croggle" />
			</a>
			<label for="{{trigger}}">
				<span>
					<i class="fas fa-bars"></i>
				</span>
			</label>
			{% spaceless %}
				<ul class="menu">
					{% set nav = [
						{link: 'products.html', text: 'Products'},
						{link: 'patterns.html', text: 'Patterns'},
						{link: 'about.html', text: 'About'},
						{link: 'blog.html', text: 'Blog'},
					] %}

					{% for item in nav %}
						<li {% if item.active %}data-active="true"{% endif %}>
							<a href="{{item.link}}">
								<span>{{item.text}}</span>
							</a>
						</li>
					{% endfor %}
				</ul>
			{% endspaceless %}
		</nav>
	</div>
</div>
