$inputSize: 34px;

input,
textarea {
    border:1px solid $colorBorder;
    padding:3px 5px;
    min-height: $inputSize;
    border-radius: 3px;

    &::placeholder {
        color: $colorPlaceholder;
        opacity: 0.7;
    }

    &:focus {
        outline: 0;

        &::placeholder {
            opacity: 1;
        }
    }
}

button {
    min-height: $inputSize;
    border-radius:0;
    outline:0;
    border:0;
    background-color:$colorPink;
    color:$colorWhite;
    min-width:$inputSize;
    text-align:center;
    cursor:pointer;
}

textarea {
    min-height: 120px;
}

.input-button-combinator{
    display:inline-block;
}

form {
    input,
    textarea {
        width: 100%;
    }

    .buttons {
        margin-top: 10px;
    }
}

form .form-field,
form .form-group {
    & + .form-field,
    & + .form-group {
        margin-top: 10px;
    }

    label {
        font-size: 0.9em;
        margin-bottom: 5px;
        font-weight: bold;
    }
}
