@mixin mark {
    display: inline-block;
    font-size: 0.8em;
    padding: 3px 5px;
    border-radius: 5px;
    text-align: center;
    min-width: 50px;
}

.mark {
    @include mark;

    & + .mark {
        margin-left: 5px;
    }

    &.mark-bold {
        font-weight: bold;
    }

    &.mark-upper {
        text-transform: uppercase;
    }
}
