$sizes: (false, 50px), ('medium', 30px), ('small', 20px), ('tiny', 10px);

@each $size in $sizes {
    $selector: '';
    @if nth($size, 1) {
        $selector: '.' + nth($size, 1);
    }

    section + section#{$selector}{
        margin-top:nth($size, 2);

        &.section-divider:before{
            bottom:calc(100% + #{nth($size, 2) / 2});
        }
    }
}

section + section.section-divider{
    position:relative;

    &:before{
        content: '';
        position:absolute;
        height:1px;
        width:100%;
        border-top:1px solid lighten($colorBlack, 80%);
    }
}
