{% extends 'layout/default.html.twig' %}

{% block pageTitle %}{{ page.parent.title }}{% endblock %}

{% block content %}
    <div class="page-product">

        <div class="row">
            <div class="col-12 col-lg-5">
                <div class="product-gallery" data-gallery>
                    {% for image in page.media.images %}
                        <img src="{{ image.url }}">
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-lg-7">
                <h2>{{ page.title }}</h2>
                <div class="meta">
                    <div class="marks">
                        {% for mark in page.header.marks %}
                            {% include 'components/util/mark.html.twig' with {mark: mark} %}
                        {% endfor %}
                    </div>
                    {%if page.header.difficulty %}
                    <div class="difficulty">
                    Level:
                        {%for i in range(1, 3)%}
                            {%if i == page.header.difficulty %}
                                <i class="fas fa-star"></i>
                            {%else%}
                                <i class="far fa-star"></i>
                            {%endif%}
                        {%endfor%}
                    </div>
                </div>
                {%endif%}
                {{ page.content }}
            </div>
        </div>
    </div>
{% endblock %}
