{% extends 'layout/default.html.twig' %}

{% block pageTitle %}{{ page.title }}{% endblock %}

{% block content %}

    filter by category:
    <br>
    {% include 'partials/taxonomylist.html.twig' with {base_url: page.url, taxonomy: 'category', children_only: true} %}
    <br>
    <br>
    filter by tag:
    <br>
    {% include 'partials/taxonomylist.html.twig' with {base_url: page.url, taxonomy: 'tag', children_only: true} %}


    <div class="row multi-row">
        {% for product in page.collection() %}
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                {% include 'components/product/small.html.twig' with {parent:page, page:product} %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
