{% extends 'layout/default.html.twig' %}

{% block pageTitle %}{{ page.title }}{% endblock %}

{% block content %}

    <div class="row multi-row">
        {% for product in page.collection() %}
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                {% include 'components/product/small.html.twig' with {parent:page, page:product} %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
