{% extends 'layout/default.html.twig' %}

{% block pageTitle %}Search{% endblock %}

{% block content %}
    <div id="search">
        <section class="filter">
            {% include 'components/search/filter.html.twig' %}
        </section>
        <section>
            {{ dump(search_results) }}
            {% for page in search_results %}
                {% include 'components/search/result-item.html.twig' with {page: page} %}
            {% endfor %}
        </section>
    </div>
{% endblock %}
