<div class="bar">
	<div class="container">
		<div class="row">
			<div class="col col-xs-6 col-sm-3 col-lg-2">
				<ul>
					<li><h4>Info</h4></li>
					<li><a href="{{ url('/contact') }}">Contact</a></li>
					<li><a href="{{ url('/search') }}">Search</a></li>
				</ul>
			</div>
			<div class="col col-xs-6 col-sm-3 col-lg-2">
				<ul>
					<li><h4>Social</h4></li>
					<li>
						<a href="https://www.facebook.com/croggleshop/" target="_blank">
							<i class="fab fa-facebook icon"></i> <span>/croggleshop</span>
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/croggle/" target="_blank">
							<i class="fab fa-instagram icon"></i> <span>/croggle</span>
						</a>
					</li>
					<li>
						<a href="https://www.etsy.com/shop/croggle" target="_blank">
							<i class="fab fa-etsy icon"></i> <span>/shop/croggle</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
