{% extends 'layout/scaffold.html.twig' %}

{% block body %}
    <header class="page-header">{% include 'components/header.html.twig' %}</header>
    <main class="page-main container">
        <div class="page-header">
            <h1>{% block pageTitle %}Croggle{% endblock %}</h1>
        </div>
        {% include 'components/breadcrumbs.html.twig' %}
        {% block content %}{% endblock %}
    </main>
    <footer class="page-footer">{% include 'components/footer.html.twig' %}</footer>
{% endblock %}
