@include screen-max(sm){
	nav{
		$slideTrans: left $menuMobileAnimationDuration ease;
		$opacityCloseTrans: opacity 0s ease $menuMobileAnimationDuration;
		$opacityOpenTrans: opacity 0s linear;

		//hamburger
		.menu-trigger ~ label{
			display:inline-block;
			margin:0; //reset label margin
			height:100%;
			cursor:pointer;

			span{
				display:flex;
				align-items:center;
				height:100%;
			}
		}

		//menus
		ul.menu{
			opacity:0;
			transition:$slideTrans, $opacityCloseTrans;
			position:fixed;
			top:$headerHeight;
			left:100%;
			bottom:0;
			width:$menuMobileWidth;
			height:calc(100% - $headerHeight);
			background-color:$colorWhite;
			@include shadow-bold;
			padding:$spaceSmall;

			li{
				display:block;
				height:auto;

				&[data-active="true"],
				&:hover{
					background-color:transparent;
					text-decoration: underline;
				}
			}
		}

		//backdrop
		.menu-trigger ~ label:before{
			transition:opacity $menuMobileAnimationDuration ease;
			opacity:0;
			pointer-events: none;
			content:'';
			position:fixed;
			top:$headerHeight;
			left:0;
			bottom:0;
			width:100%;
			height:calc(100% - $headerHeight);
			background-color:rgba($colorBlack, 0.2);
		}

		//click logic
		.menu-trigger{
			&:checked ~ {
				label:before{
					opacity:1;
					pointer-events:auto;
				}

				ul.menu{
					opacity:1;
					transition:$slideTrans, $opacityOpenTrans;
					left:100% - $menuMobileWidth;
				}
			}
		}
	}
}
