nav{
	height:100%;
	text-align:right;

	.menu-trigger,
	.menu-trigger ~ label{
		display:none;
	}

	ul.menu{
		@include resetUl;
		height:100%;

		li{
			display:inline-block;
			height:100%;
			padding:0 $spaceSmall;

			a{
				display:flex;
				height:100%;
				align-items:center;

				span{
					@include fontP;
				}

				&:hover{
					text-decoration: none;
				}
			}

			&[data-active="true"],
			&:hover{
				background-color:$colorBrown;

				a span{
					font-weight:$fontWeightBold;
				}
			}
		}
	}
}
