{% extends '../layout/default.html.twig' %}

{% block pageTitle %}About{% endblock %}

{% block content %}
	<h2>Croggle - my path to crochet</h2>
	<p>
		I was always very creative and loved to draw and modeling with Fimo, besides other crafts. There was one area though I was struggling with for quite some time though: Fiber crafts, mostly crochet and knitting. During my elementary school time and after that my secondary school time I got help with getting through my courses from my teachers. I though that I never really picked up how to do it properly and I thought that I would soon forget about these skills altogether.
	</p>
	<p>
		During my apprenticeship as a webdeveloper I realized that I didn't want to leave it at just that and that I wanted my mother - a very talented crafter - to teach me how to knit and after that how to crochet.
	</p>
	<p>
		She told me about amigurumi a relatively new trend and showed me what you could do with it. I realized that these things I've learnt were only hibernating not lost. With the right motivation and newly grown passion for amigurumis I finally got really into it.
	</p>
	<p>
		I created croggle soon after I created my first own pattern: a Kirby. This was approximately in 2014, I think. I created so many characters from jrpgs, anime series and others or own individual characters after that and I got the feeling, that with every new object that I created I learnt something new.
	</p>
	<p>
		Crochet is actually something that is like a method of self-therapy to me. It keeps me calm, relaxed and happy. Without my mother I most-likely would have never really picked it up ever after secondary school so she is to thank not only for me learning how to crochet but lastly also for the birth of croggle.
	</p>
	<p>
		<span class="signature">Natalie Schumacher</span><br />
	</p>
{% endblock %}
