{% extends '../layout/default.html.twig' %}

{% block pageTitle %}Patterns{% endblock %}

{% block content %}
	<h2>Lorem Ipsum</h2>
	<p>
		Lorem ipsum dolor sit amet, consetetur <a href="#">sadipscing</a> elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
	</p>
{% endblock %}
